* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #32343a;
}