.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.auth .user-profile__link {
    font-weight: 600;
    background-color: #2b2d31;
    padding: 20px;
    text-decoration: none;
    transition: 0.2s;
}

.auth .user-profile__link:hover {
    color: #2b2d31;
    background-color: #b5bac1;
}

.dashboard .statistic {
    display: flex;
}

.statistic .link {
    background-color: #b5bac1;
    margin: 5px;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 2px solid #b5bac1;
    color: #32343a;
    text-decoration: none;
    font-weight: 700;
    transition: 0.2s;
}

.statistic .link:hover {
    background-color: #32343a;
    border-color: #b5bac1;
    color: #b5bac1;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content .articles {
    display: flex;
    margin-left: 50px;
}

.content .article__default {
    background-color: #b5bac1;
    width: 40%;
    height: 500px;
    overflow: auto;
    justify-self: left;
    align-self: center;
    margin: 5px;
}

.content .article__default .title {
    color: #32343a;
    padding: 15px;
}

.content .article__default .messages__ul {
    border-top: 2px solid #32343a;
    padding: 15px;
    list-style-type: none;
}
.messages__ul .message__ul {
    padding: 10px;
    list-style-type: none;
    border-bottom: 2px solid grey;
}
