{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/include/sidebar.css' %}">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container">
    {% include 'include/sidebar.html' %}
    <section class="content">
    {% include 'include/dashboard-controls.html' %}
        <section class="articles">
            <article class="article__default bot__messages">
                <h1 class="title">Последние сообщения бота ({{ messages|length }})</h1>
                <ul class="messages__ul" id="messages__ul">

                </ul>
            </article>
            {% if perms.bot_messages.can_change_command %}
            <article class="article__default popular__commands">
                <h1 class="title">Самые популярные команды</h1>
                <ul class="commands__ul">
                    {% for command in popular_commands %}
                    <ul class="command__ul">
                        <li class="command_li command__title">{{ command.command }}</li>
                        <li class="command_li calls__value">{{ command.calls_count }}</li>
                    </ul>
                    {% endfor %}
                </ul>
            </article>
            {% endif %}
        </section>
    </section>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/get_messages_list.js' %}"></script>
{% endblock %}
